<main class="listing-page__container">
  <!-- ## TABLE TOOLBAR SECTION -->
  <section class="table">
    <div class="table-toolbar">
      <div class="table-toolbar__filters">
        <!-- Search filter goes here-->
        <app-search-filter
          [value]="filterProperties.searchValue"
          (search)="onSearch($event)"
        ></app-search-filter>

        <!-- Status filter goes here-->
        <app-status-filter
          [value]="filterProperties.statusList"
          (statusChange)="onStatusChange($event)"
        ></app-status-filter>

        <button class="table-toolbar__clear-btn" mat-stroked-button (click)="onClearFilters()">
          <mat-icon>close</mat-icon>
          Clear Filters
        </button>
      </div>
    </div>

    <!-- ## TABLE SECTION -->
    <div class="table-content">
      <table mat-table [dataSource]="data">
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ getRowIndex(i) }}
          </td>
        </ng-container>

        <!-- Date Joined Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell mat-column-date *matCellDef="let element">
            {{ element.date | date }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell mat-column-type *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- BRN Column -->
        <ng-container matColumnDef="brn">
          <th mat-header-cell *matHeaderCellDef>BRN</th>
          <td mat-cell mat-column-type *matCellDef="let element">
            {{ element.brn }}
          </td>
        </ng-container>

        <!-- PIC Column -->
        <ng-container matColumnDef="pic">
          <th mat-header-cell *matHeaderCellDef>PIC</th>
          <td mat-cell mat-column-policy *matCellDef="let element">
            {{ element.pic }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell mat-column-amount *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell mat-column-status *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          [ngClass]="isLoading ? 'hidden' : 'table-row'"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>

        <ng-container matColumnDef="loading">
          <td
            *matFooterCellDef
            mat-footer-cell
            [attr.colspan]="displayedColumns.length"
          >
            <ngx-skeleton-loader
              count="3"
              [theme]="{
                height: '40px',
                marginTop: '16px',
                'animation-duration': '1s'
              }"
            >
            </ngx-skeleton-loader>
          </td>
        </ng-container>

        <tr
          *matFooterRowDef="['loading']"
          mat-footer-row
          [ngClass]="isLoading ? 'table-row' : 'hidden'"
        ></tr>

        <tr *matNoDataRow [ngClass]="isLoading ? 'hidden' : 'table-row'">
          <td colspan="9999">
            <span>No Data</span>
          </td>
        </tr>
      </table>
    </div>

    <!-- ## PAGINATOR SECTION -->
    <div class="paginator">
      <mat-paginator
        [pageSizeOptions]="[1, 5, 10, 25]"
        [length]="paginationProperties.totalItems"
        [pageSize]="paginationProperties.pageSize"
        [pageIndex]="paginationProperties.page - 1"
        (page)="onPaginate($event)"
      ></mat-paginator>
    </div>
  </section>
</main>
